rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /comments/{commentId} {
      allow read: if resource.data.approved == true;
      allow create: if true;
      allow update, delete: if false; // بس الأدمن يعملها من لوحة التحكم
    }
  }
}
