/* @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap"); */
@import "tailwindcss";

:root {
  --font-primary: var(--font-geist-sans);
  --font-secondary: var(--font-almarai);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-secondary);
}
* {
  font-family: var(--font-secondary);
}

@font-face {
  font-family: "Almarai";
  src: url("/fonts/Almarai/Almarai-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
